ul.feiten li  {
      color: #CC33CC;
      font-family: serif;
      border-bottom: double;
      text-align: justify;
      line-height: 35px;
      font-size: 22px;
      padding-left: 5px;
      border-radius: 30px 0px;
}

ul.feiten {
  background-color: #CCCCFF;
  list-style: inside circle none;

}

ul.navigatie {
  margin: 3px;
  padding: 20px 50px;
  border-style: outset;
  text-align: center;
  background-color: paleturquoise;
}

ul.navigatie li {
  display: inline;
  margin: 3px;
  border: 4px solid white;
  border-style: outset;
  font-family: Georgia;
  font-style: oblique;
  font-size: 30px;
}

ul.Luzon li {
  font-size: 25px;
  font-style: oblique;
  font-family: Georgia;
  text-shadow: 1px 2px red;
}

p.luzon:hover {
  background-color: crimson;
  color: blanchedalmond;
}
