table.nummers {
  color: #FFEC5E;
  background-color: #FF9E5E;
  width: 130px;

}

table.nummers td {
 border: 3px solid #FFCF70  ;
}

.Philippines {
  background-color: blue;
  color: #FFE28A;
  border-collapse: collapse;
}

table.Philippines td {
  background-color: #D1004F;
  border: 3px solid white;
  font-family: serif;

}


table.Philippines th {
 color: paleturquoise;
 border-top-style: dotted;
 border-right-style: solid;
 border-bottom-style: dotted;
 border-left-style: solid;
 font-style: italic;

}

.Presidents {
  background-color: #9D00FF;
  color: white;
  border-collapse: collapse;
}

table.Presidents td {
  background-color: #D1004F;
  border: 3px solid #FFD25D;
  font-family: serif;
}

table.Presidents th {
  color: #FFCCFF;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  font-style: italic;
}

table.Eersterij td {
  color: pink;
  background-color: white;
}
